

@media screen and (max-width: 1500px) {
    .slogan {
        font-size: 24px;
    }
    .Topnav {
        font-size: 14px;
    }
    #partner .carousel-inner {
        font-size: 14px;
    }
}

@media screen and (max-width:1200px) {
    .nav-bar {
        display: none;
    }
    .navbar {
        top: 0px;
        opacity: 1;
        position: static;
    }
    .slogan {
        font-size: 18px;
    }
    .Topnav {
        opacity: 0;
    }
    #partner .carousel-inner {
        font-size: 12px;
    }
    .bg-img {
        padding-top: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .slogan {
        font-size: 16px;
    }
    .Topnav {
        font-size: 10px;
    }
    #partner .carousel-inner {
        font-size: 10px;
    }
}

@media screen and (max-width: 800px) {
    .slogan {
        font-size: 14px;
        margin-top: 4em;
    }
    .Topnav {
        font-size: 8px;
    }
}

@media screen and (max-width:600px) {
    .display-3 {
        font-size: 3rem;
    }
    .display-4 {
        font-size: 3rem;
    }
    .slogan {
        font-size: 12px;
    }
    .Topnav {
        font-size: 6px;
    }
}

@media screen and (max-width: 420px) {
    .display-3 {
        font-size: 2rem;
    }
    .display-4 {
        font-size: 2rem;
    }
    .slogan {
        font-size: 9px;
        margin-top: 3em;
    }
    .Topnav {
        font-size: 4px;
    }
    #partner .carousel-inner {
        font-size: 6px;
    }
    .nav-bar {
        opacity: 1;
    }
    .navbar img {
        width: 200px;
    }
}

@media screen and (max-width:375px) {
    .slogan {
        font-size: 8px;
    }
}

@media screen and (max-width:350px) {
    .slogan {
        font-size: 6px;
    }
    #partners .display-3 {
        font-size: 1.5rem;
    }
}