* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#color-1 {
    background-color: #DE4439;
}

#color-2 {
    background-color: #FCD500;
}

.header {
    position: relative;
}

.Topnav {
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 4;
}

.Topnav .line {
    background-color: #1A94D0;
    border-style: none;
    height: 20px;
}

.Topnav .textholder {
    position: absolute;
    border-top: 60px solid #1A94D0;
    border-left: 50px solid transparent;
    height: 0px;
    width: 650px;
    top: 10px;
    right: 0px;
}

.Topnav .overlay {
    position: relative;
    text-align: right;
    margin-top: -5px;
    margin-right: 13%;
    color: white;
    padding: 10px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 22px;
}
.header .logo{
    position: absolute;
    height: 150px;
    z-index: 4;
    margin-top: 60px;
    margin-left: 200px ;
    filter: drop-shadow(0 0 0.2rem black);
}
nav {
    position: absolute;
    top: 93px;
    right: 200px;
    background-color: #E5E5E5;
    border-radius: 20px;
    padding: 10px 10px;
    z-index: 99;
}

nav li {
    list-style: none;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    display: inline-table;
}

nav ul {
    float: left;
    margin-right: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li:hover {
    background-color: #FFFFFF;
    border-radius: 20px;
}

nav a:hover {
    color: #1A94D0;
}

nav ul li:hover>ul {
    display: block;
}

nav a {
    display: block;
    padding: 16px 20px;
    color: #6B6B6B;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

nav ul ul {
    display: none;
    background: white;
    border-radius: 20px;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
}

nav ul ul li {
    float: none;
    position: relative;
    margin: 0;
}

nav ul ul li a {
    min-width: 350px;
    margin: 10px;
    padding: 16px 20px;
}

nav ul ul li a:hover {
    background: #1A94D0;
    color: #FFFFFF;
    border-radius: 10px;
}

nav .icon {
    font-size: 24px;
    padding: 16px 10px;
    margin-right: 0px;
}

nav label.burger {
    display: none;
    padding: 12px 16px;
    color: #6B6B6B;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav label.burger:hover {
    padding: 12px 16px;
    color: #1A94D0;
}

#check {
    display: none;
}

nav a.active {
    background-color: #FFFFFF;
    color: #1A94D0;
    border-radius: 20px;
}

.dropdown-menu {
    transform-origin: top center;
    animation: rotateX 300ms ease-in-out
}

.Topnav img {
    position: relative;
    z-index: 1;
}

.Topnav p {
    z-index: 2;
}

.slogan {
    position: absolute;
    margin-top: 200px;
    right: 200px;
    z-index: 4;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.slogan h1 {
    font-size: 144px;
    color: #1A94D0;
}

.slogan h2 {
    font-size: 144px;
    color: #FCD500;
}

.slogan h3 {
    font-size: 144px;
    color: #DE4439;
}

.slogan .flex {
    display: flex;
    padding-left: 40px;
}

.slogan .p1 {
    font-size: 42px;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: -0.015em;
    padding-left: 40px;
    padding-right: 40px;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.slogan .p2 {
    width: 800px;
    font-size: 30px;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    line-height: 37px;
    align-items: center;
    text-align: justify;
}

.swiper-1 {
    width: 100%;
    height: auto
}
.swiper-1 .swiper-button-prev, .swiper-1 .swiper-button-next{
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF !important;
    margin: 30px !important;
    margin-top: -80px !important;
    padding: 50px;
    border-radius: 50px;
}
.swiper-1 .image {
    width: 1920px;
    height: 800px;
    object-fit: cover;
    object-position: right bottom;
}

.content {
    width: 1120px;
    height: 1156px;
    margin-left: auto;
    margin-right: auto;
}

.content p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    /* or 222% */
    width: 450px;
    margin-top: 44px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.015em;
    color: #000000;
}

.Who {
    width: 1120px;
    height: 500px;
    position: relative;
    padding-left: 4px;
}

.Who h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #1A94D0;
    margin-top: 70px;
}

.Who img {
    position: absolute;
    margin-left: 760px;
    margin-top: 44px;
}

.hr1 {
    width: 70px;
    height: 20px;
    background: #FCD500;
    border-radius: 10px;
    border: 0;
}

.Purpose {
    width: 340px;
    height: 240px;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: auto;
    box-sizing: border-box;
}

.Purpose h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    align-items: center;
    letter-spacing: -0.015em;
    color: #FCD500;
}

.All {
    display: flex;
}

.hr2 {
    width: 70px;
    height: 20px;
    background: #DE4439;
    border-radius: 10px;
    border: 0;
}

.Vision {
    width: 340px;
    height: 240px;
    margin-top: 5%;
    margin-right: 285px;
    padding-left: 4px;
}

.Vision h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #E03030;
}

.hr3 {
    width: 70px;
    height: 20px;
    background: #1A94D0;
    border-radius: 10px;
    border: 0;
}

.Mission {
    width: 340px;
    height: 240px;
    margin-top: 5%;
}

.Mission h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    width: 300px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #1A94D0;
}

.activities {
    width: 1120px;
    left: 400px;
    margin-left: auto;
    margin-right: auto;
}

.activities h1 {
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    color: #1A94D0;
}

.activities p {
    width: 222px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.activities .line1 {
    background-color: #1A94D0;
    border-style: solid;
    height: 20px;
    width: 265px;
    margin-top: -20px;
    margin-left: -2px;
}

.activities .line2 {
    background-color: #FCD500;
    border-style: solid;
    height: 20px;
    width: 265px;
    margin-top: -20px;
    margin-left: -2px;
}

.activities .line3 {
    background-color: #DE4439;
    border-style: solid;
    height: 20px;
    width: 265px;
    margin-top: -20px;
    margin-left: -2px;
}

.activities img {
    width: 230px;
    height: 230px;
    border-radius: 20px;
    margin: 17px;
    object-fit: cover;
}
.activities button {
    position: absolute;
    cursor: pointer;
    width: 208px;
    height: 47px;
    font-size: 24px;
    font-weight: bold;
    background-color: #1A94D0;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    margin-left: 28px;
    margin-right: 28px;
    bottom: 35px;
}

.activities .button1 {
    background-color: #FCD500;
    color: #000000;
}

.activities .button2 {
    background-color: #DE4439;
}

.activities .item-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
}
.activities .item-wrap .itembox {
    width: 265px;
    height: 412px;
    margin-top: 80px;
    color: #FFFFFF;
    border: 2px solid #F0F0F0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.Register {
    background-color: rgba(252, 213, 0, 0.2);
    height: 400px;
    width: 100%;
    margin-top: 60px;
}

.item-content {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}

.item-content img {
    margin-left: 44px;
    margin-right: 44px;
}

.item-content p {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin-left: 10px;
}

.item-content .item-wrap {
    position: relative;
    display: flex;
}

.item-content .item-wrap .itembox {
    cursor: pointer;
    margin-top: 70px;
    width: 239px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-2 {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}
.swiper-2 .swiper-button-prev, .swiper-2 .swiper-button-next{
    margin: -25px 30px 30px !important;
}
.swiper-2 .swiper-button-prev::after, .swiper-2 .swiper-button-next::after{
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF !important;
    padding: 20px;
    border-radius: 80px;
}
.swiper-2 .icon {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #6B6B6B;
    padding: 20px;
    border-radius: 30px;
}

.swiper-2 img {
    height: 65px;
}

.swiper-2 .swiper-wrapper .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
}

.swiper-2 .swiper-wrapper .swiper-slide .itembox {
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    text-decoration: none;
    color:black;
}

.top {
    width: 100%;
    display: flex;
    position: relative;
    height: 320px;
}

.footer .top hr {
    width: auto;
    margin: 5px;
}

.top .logo img {
    position: absolute;
    width: 220px;
    height: 200px;
}
.Contact {
    width: 370px;
    height: 300px;
    margin-left: 240px;
    margin-right: auto;
    margin-top: 20px;
}

.Contact p {
    margin-left: 25px;
}

.Contact li {
    width: 380px;
}

.footer h1 {
    width: 250px;
    height: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color:black;
}

.Adress {
    margin-left: 5px;
}

.Terms {
    width: 250px;
    height: 220px;
    position: absolute;
    margin-left: 670px;
    margin-top: 20px;
}

.Terms li {
    width: 250px;
}

.Terms img {
    margin-top: 10px;
}

.footer li {
    list-style-type: none;
    margin-top: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: black;
}

.Donate {
    margin-top: 55px;
}

.Donate a img {
    height: 85px;
    width: 220px;
}

.footer hr {
    margin-top: 10px;
    width: 1120px;
}

.Contact a img {
    height: 30px;
}

.bot {
    display: flex;
    height: 100px;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.bot .photo {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: black;
    width: 400px;
}

.Follow {
    margin-top: 15px;
    margin-left: 350px;
    margin-right: 20px;
    width: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: black
}

.bot img {
    margin-top: 15px;
    margin-right: 20px;
}

.top a img {
    margin-right: 10px;
}

@media screen and (max-width: 1440px) {
    .swiper-1 .image{
        width: 1440px;
        height: 600px;
    }
    .Topnav .line {
        height: 20px;
    }
    
    .Topnav .textholder {
        border-top: 60px solid #1A94D0;
        border-left: 50px solid transparent;
        width: 600px;
        top: 10px;
    }
    
    .Topnav .overlay {
        margin-right: 18%;
        padding: 10px;
        padding-bottom: 20px;
        font-size: 20px;
    }
    .header .logo{
        height: 120px;
        margin-top: 60px;
        margin-left: 100px ;
    }
    nav {
        right: 100px;
        padding: 10px 10px;
        z-index: 99;
    }
    nav a {
        font-size: 18px;
        padding: 12px 16px;
    }
    nav ul li:hover {
        background-color: #FFFFFF;
        border-radius: 10px;
    }
    nav ul ul li a {
        padding: 12px 16px;
    }
    nav ul ul li a:hover {
        border-radius: 5px;
    }
    nav a.icon {
        font-size: 18px;
        padding: 12px 10px;
    }
    nav a.active {
        border-radius: 10px;
    }
    .swiper-2 {
        width: 900px;
    }
    .slogan {
        margin-top: 175px;
        right: 100px;
    }
    
    .slogan h1 {
        font-size: 124px;
    }
    
    .slogan h2 {
        font-size: 124px;
    }
    
    .slogan h3 {
        font-size: 124px;
    }
    
    .slogan .flex {
        padding-left: 30px;
    }
    
    .slogan .p1 {
        font-size: 36px;
        padding-left: 30px;
        padding-right: 30px
    }
    
    .slogan .p2 {
        width: 650px;
        font-size: 24px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        line-height: 29px;
    }
    .activities {
        width: 840px;
        left: 400px;
    }
    
    .activities h1 {
        font-weight: bold;
        font-size: 56px;
    }
    
    .activities p {
        width: 160px;
        font-size: 15px;
    }
    
    .activities .line1 {
        height: 18px;
        width: 195px;
        margin-top: -18px;
        margin-left: -2px;
    }
    
    .activities .line2 {
        height: 18px;
        width: 195px;
        margin-top: -18px;
        margin-left: -2px;
    }
    
    .activities .line3 {
        height: 18px;
        width: 195px;
        margin-top: -18px;
        margin-left: -2px;
    }
    
    .activities img {
        width: 160px;
        height: 160px;
        border-radius: 10px;
        margin: 16px;
    }
    
    .activities button {
        width: 160px;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
        margin-left: 17px;
        margin-right: 17px;
        bottom: 16px;
    }
    
    .activities .item-wrap .itembox {
        width: 195px;
        height: 300px;
        margin-top: 80px;
        color: #FFFFFF;
        border: 2px solid #F0F0F0;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-2 {
        margin-top: 80px;
        width: 840px;
    }
    .swiper-2 .swiper-button-prev, .swiper-2 .swiper-button-next{
        margin: -20px 30px 30px !important;
    }
    .swiper-2 .swiper-button-prev::after, .swiper-2 .swiper-button-next::after{
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFFFFF !important;
        padding: 15px;
        border-radius: 80px;
    }
    .swiper-2 img {
        height: 45px;
    }
    
    .swiper-2 .swiper-wrapper .swiper-slide .itembox {
        margin-left: 10px;
        margin-right: 10px;
    }
    .Register{
        width: 100%;
    }
    .item-content{
        width: 100%;
    }
    .item-content img{
        margin-left: 34px;
        margin-right: 34px;
    }
    .item-content .item-wrap .itembox{
        margin-left: 130px;
        margin-right: 30px;
    }
    hr{
        width: 100%;
    }
    .content {
        width: 100%;
        height: auto;
    }
    .content .Who {
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 5%;
    }
    .Who p {
        width: 35%;
        margin-right: 30%;
    }
    .Who img {
        width: 35%;
        margin-left: 50%;
    }
    .Purpose {
        margin-left: 15%;
        margin-top: 70px;
    }
    .All {
        margin-top: 24px;
        height: auto;
        margin-bottom: 50px;
    }
    .Vision {
        width: 35%;
        height: auto;
        margin-top: 50px;
        margin-right: 0;
        margin-left: 5%;
    }
    .Mission {
        width: 35%;
        height: auto;
        margin-top: 50px;
        margin-left: 15%;
    }
    .footer {
        width: 100%;
    }
    .top {
        box-sizing: border-box;
        width: 100%;
    }
    .top .logo{
        margin-left: 5%;
    }
    .Contact h1 {
        width: 350px;
    }
    .footer h1 {
        text-align: center;
    }
    .footer h2 {
        text-align: center;
    }
    .Contact {
        position: absolute;
        width: 35%;
        margin-left: 20%;
    }
    .top .Contact hr{
        width: 350px;
    }

    .Contact li{
        text-align: center;
    }
    .Terms {
        margin-left: 50%;
    }
    .Terms li {
        text-align: center;
    }
    .Donate {
        position: absolute;
        margin-left: 72%;
    }
    .footer hr {
        margin-top: 15px;
        width: 100%;
    }
    .bot {
        width: 100%;
    }
    .bot .photo {
        width: 40%;
        margin-left: 5%;
    }
    .bot .Follow {
        margin-left: 20%;
    }
}
@media screen and (max-width: 1024px) {
    .swiper-1 .image{
        width: 1024px;
        height: 500px;
    }
    .Topnav .line {
        height: 15px;
    }
    
    .Topnav .textholder {
        border-top: 50px solid #1A94D0;
        border-left: 50px solid transparent;
        width: 400px;
        top: 10px;
    }
    
    .Topnav .overlay {
        margin-right: 14%;
        padding: 10px;
        padding-bottom: 20px;
        font-size: 14px;
    }
    .header .logo{
        height: 100px;
        margin-top: 80px;
        margin-left: 50px ;
    }
    nav {
        right: 50px;
    }
    .slogan h1 {
        font-size: 96px;
    }
    
    .slogan h2 {
        font-size: 96px;
    }
    
    .slogan h3 {
        font-size: 96px;
    }
    
    .slogan .flex {
        padding-left: 20px;
    }
    
    .slogan .p1 {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px
    }
    
    .slogan .p2 {
        width: 550px;
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        line-height: 29px;
    }
    .Register{
        width: 100%;
    }
    .item-content{
        width: 100%;
    }
    .item-content .item-wrap .itembox{
        margin-left: 50px;
    }
    hr{
        width: 100%;
    }
    .content {
        width: 100%;
    }
    .content .Who {
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 80px;
    }
    .Who p {
        width: 40%;
        margin-right: 30%;
    }
    .Who img {
        width: 35%;
        margin-left: 58%;
    }
    .Purpose {
        margin-left: 15%;
        margin-top: 70px;
    }
    .All {
        margin-top: 24px;
        height: auto;
    }
    .Vision {
        width: 35%;
        margin-top: 50px;
        margin-right: 0;
        margin-left: 80px;
    }
    .Vision p{
        width: 350px;
    }
    .Mission {
        width: 300px;
        margin-top: 50px;
        margin-left: 13%;
    }
    .Mission p{
        width: 350px;
    }
    .footer {
        width: 100%;
    }
    .top {
        box-sizing: border-box;
        width: 100%;
    }
    .Contact h1 {
        width: 350px;
    }
    .footer h1 {
        text-align: center;
    }
    .footer h2 {
        text-align: center;
    }
    .Contact {
        position: absolute;
        width: 35%;
        margin-left: 25%;
    }
    .Contact hr{
        width: 35%;
    }

    .Contact li{
        text-align: center;
    }
    .Terms {
        margin-left: 65%;
    }
    .Terms li {
        text-align: center;
    }
    .Donate {
        margin-top: 20%;
        position: absolute;
        margin-left: 65%;
    }
    .footer hr {
        margin-top: 15px;
        width: 100%;
    }
    .bot {
        width: 100%;
    }
    .bot .photo {
        width: 40%;
        margin-left: 5%;
    }
    .bot .Follow {
        margin-left: auto;
    }
}
@media screen and (max-width: 768px) {
    .swiper-1 .image{
        width: 768px;
        height: 400px;
    }
    .swiper-1 .swiper-button-prev, .swiper-1 .swiper-button-next{
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFFFFF !important;
        margin: 15px !important;
        margin-top: -30px !important;
        padding: 25px;
        border-radius: 50px;
    }
    .swiper-1 .swiper-button-next::after, .swiper-1 .swiper-button-prev::after{
        font-size: 20px;
    }
    .Topnav .line {
        height: 14px;
    }
    
    .Topnav .textholder {
        border-top: 60px solid #1A94D0;
        border-left: 50px solid transparent;
        width: 350px;
        top: 10px;
    }
    
    .Topnav .overlay {
        margin-right: 17%;
        padding: 10px;
        padding-bottom: 20px;
        font-size: 12px;
    }
    nav {
        top: 60px;
        display: flex;
        right: 0;
    }
    nav ul {
        background-color: #E5E5E5;
        position: fixed;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        top: 160px;
        right: -200%;
        transition: all .5s;
    }
    nav ul li {
        float: none;
        display: block;
    }
    nav a.icon {
        display: block;
    }
    nav a.active {
        display: block;
    }
    nav label.burger {
        float: right;
        display: block;
    }
    .slogan {
        border-radius: 10px;
        margin-top: 100px;
        right: 100px;
    }
    
    .slogan h1 {
        font-size: 80px;
    }
    
    .slogan h2 {
        font-size: 80px;
    }
    
    .slogan h3 {
        font-size: 80px;
    }
    
    .slogan .flex {
        padding-left: 30px;
    }
    
    .slogan .p1 {
        font-size: 24px;
        padding-left: 20px;
        padding-right: 20px
    }
    
    .slogan .p2 {
        width: 450px;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        line-height: 23px;
    }
    .activities {
        width: 568px;
        left: 200px;
    }
    
    .activities h1 {
        font-weight: bold;
        font-size: 36px;
    }
    
    .activities p {
        width: 110px;
        font-size: 10px;
    }
    
    .activities .line1 {
        height: 14px;
        width: 134px;
        margin-top: -14px;
        margin-left: -2px;
    }
    
    .activities .line2 {
        height: 14px;
        width: 134px;
        margin-top: -14px;
        margin-left: -2px;
    }
    
    .activities .line3 {
        height: 14px;
        width: 134px;
        margin-top: -14px;
        margin-left: -2px;
    }
    
    .activities img {
        width: 110px;
        height: 110px;
        border-radius: 10px;
        margin: 10px;
    }
    
    .activities button {
        width: 110px;
        height: 30px;
        font-size: 15px;
        border-radius: 15px;
        margin-left: 11px;
        bottom: 11px;
    }
    
    .activities .item-wrap .itembox {
        width: 134px;
        height: 205px;
        margin-top: 50px;
        color: #FFFFFF;
        border: 2px solid #F0F0F0;
        box-sizing: border-box ;
    }
    .swiper-2 {
        margin-top: 60px;
        width: 568px;
        height: 60px;
    }
    .swiper-2 .swiper-button-prev, .swiper-2 .swiper-button-next{
        margin: -20px 30px 30px !important;
    }
    .swiper-2 .swiper-button-prev::after, .swiper-2 .swiper-button-next::after{
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFFFFF !important;
        padding: 15px;
        border-radius: 80px;
    }
    
    .swiper-2 img {
        height: 30px;
    }
    .swiper-2 .swiper-wrapper .swiper-slide{
        margin-top: 15px;
    }
    .swiper-2 .swiper-wrapper .swiper-slide .itembox {
        margin-left: 10px;
        margin-right: 10px;
    }
    .Register{
        width: 100%;
        height: 300px;
    }
    .item-content{
        width: 100%;
    }
    .item-content .item-wrap .itembox{
        width: 220px;
        margin-left: 30px;
    }
    .item-content p{
        font-size: 18px;
    }
    .item-content img{
        margin-right: 34px;
        width: 120px;
        height: 120px;
    }
    hr {
        width: 100%;
    }
    .content {
        width: 100%;
    }
    .content .Who {
        margin-left: 5%;
        width: 95%;
        height: auto;
    }
    .Who p {
        width: 45%;
    }
    .Who img {
        width: 35%;
        margin-left: 60%;
    }
    .Purpose {
        margin-left: 15%;
        width: 45%;
        margin-top: 70px;
    }
    .All {
        margin-top: 24px;
        height: auto;
    }
    .Vision {
        width: 35%;
        margin-top: 50px;
        margin-right: 0;
        margin-left: 5%;
    }
    .Vision p {
        width: 300px;
    }
    .All .Mission {
        width: 270px;
        margin-top: 50px;
        margin-left: 15%;
    }
    .Mission p{
        width: 300px;
    }
    .footer {
        width: 100%;
    }
    .top {
        box-sizing: border-box;
        width: 100%;
        height: 750px;
    }
    .top .logo {
       margin-left: 35%;
    }
    .top .Contact {
        width: 50%;
        margin-top: 25%;
    }
    .Contact h1 {
        width: 350px;
        text-align: center;
    }
    .Contact li{
        text-align: center;
    }
    .top .Terms {
        margin-top: 65%;
        margin-left: 253px;
        text-align: center;
    }
    .top .Donate {
        position: absolute;
        margin-top: 85%;
        margin-left: 255px;
    }
    .footer hr {
        margin-top: 15px;
        width: 100%;
    }
    .bot {
        width: 100%;
    }
    .bot .photo {
        width: 40%;
        margin-left: 5%;
    }
    .bot .Follow {
        margin-left: auto;
    }
}
@media screen and (max-width: 414px) {
    .swiper-1 .image{
        width: 414px;
        height: 200px;
    }
    .swiper-1 .swiper-button-prev, .swiper-1 .swiper-button-next{
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFFFFF !important;
        margin: 5px !important;
        margin-top: -25px !important;
        padding: 20px;
        border-radius: 50px;
    }
    .swiper-1 .swiper-button-next::after, .swiper-1 .swiper-button-prev::after{
        font-size: 10px;
    }
    .Topnav .line {
        height: 10px;
    }
    
    .Topnav .textholder {
        border-top: 20px solid #1A94D0;
        border-left: 15px solid transparent;
        width: 150px;
        top: 10px;
    }
    
    .Topnav .overlay {
        margin-right: 13%;
        padding: 10px;
        padding-bottom: 20px;
        font-size: 5px;
    }
    .header .logo{
        height: 50px;
        margin-top: 20px;
        margin-left: 50px ;
    }
    .slogan {
        margin-top: 60px;
        right: 40px;
        border-radius: 5px;
    }
    
    .slogan h1 {
        font-size: 30px;
    }
    
    .slogan h2 {
        font-size: 30px;
    }
    
    .slogan h3 {
        font-size: 30px;
    }
    
    .slogan .flex {
        padding-left: 5px;
    }
    
    .slogan .p1 {
        font-size: 8px;
        padding-left: 5px;
        padding-right: 5px
    }
    
    .slogan .p2 {
        width: 135px;
        font-size: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        line-height: 8px;
    }
    .activities {
        width: 314px;
        left: 100px;
    }
    
    .activities h1 {
        font-weight: bold;
        font-size: 18px;
    }
    
    .activities p {
        width: 160px;
        font-size: 15px;
    }
    
    .activities .line1 {
        height: 18px;
        width: 195px;
        margin-top: -18px;
        margin-left: -2px;
    }
    
    .activities .line2 {
        height: 18px;
        width: 195px;
        margin-top: -18px;
        margin-left: -2px;
    }
    
    .activities .line3 {
        height: 18px;
        width: 195px;
        margin-top: -18px;
        margin-left: -2px;
    }
    
    .activities img {
        width: 160px;
        height: 160px;
        border-radius: 10px;
        margin: 16px;
    }
    
    .activities button {
        position: relative;
        width: 160px;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 17px;
    }
    .activities .item-wrap {
        flex-direction: column;
    }
    .activities .item-wrap .itembox {
        width: 195px;
        height: 300px;
        margin-top: 30px;
        color: #FFFFFF;
        border: 2px solid #F0F0F0;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-2 {
        margin-top: 60px;
        width: 314px;
        height: 40px;
    }
    .swiper-2 .swiper-button-prev, .swiper-2 .swiper-button-next{
        margin: -20px 5px 5px !important;
    }
    .swiper-2 .swiper-button-prev::after, .swiper-2 .swiper-button-next::after{
        font-size: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #FFFFFF !important;
        padding: 10px;
        border-radius: 80px;
    }
    
    .swiper-2 img {
        height: 15px;
    }
    .swiper-2 .swiper-wrapper .swiper-slide{
        margin-top: 15px;
    }
    .swiper-2 .swiper-wrapper .swiper-slide .itembox {
        margin-left: 10px;
        margin-right: 10px;
    }
    .Register{
        width: 100%;
        height: auto;
    }
    .item-content{
        width: 100%;
    }
    .item-content .item-wrap .itembox{
        width: 120px;
        margin-left: 0;
        margin-right: 30px;
    }
    .item-content p{
        font-size: 15px;
        margin-top: 10px;
    }
    .item-content img{
        width: 60px;
        height: 60px;
        margin-left: 34px;
        margin-right: 0;
    }
    .item-content .item-wrap .itembox{
        margin-top: 20px;
    }
    hr {
        width: 100%;
    }
    .content {
        width: 100%;
        height: auto;
    }
    .content p{
        margin-top: 0;
    }
    .content .Who {
        margin-left: 5%;
        width: 95%;
        height: auto;
    }
    .Who h1{
        font-size: 34px;
        margin-top: 20px;
    }
    .Who p {
        width: 90%;
        margin-top: 65%;
    }
    .Who img {
        margin-top: 0;
        width: 318px;
        height: 198px;
        margin-left: 5%;
    }
    .Purpose {
        margin-left: 5%;
        width: 80%;
        margin-top: 44px;
    }
    .Purpose p{
        width: 350px;
    }
    .All {
        margin-top: 24px;
        width: 100%;
        display: block;
        height: auto;
    }
    .All .Vision {
        width: 80%;
        margin-top: 50px;
        margin-left: 5%;
    }
    .Vision p{
        width:350px;
    }
    .All .Mission {
        width: 80%;
        margin-top: 50px;
        margin-left: 5%;
    }
    .Mission p{
        width: 350px;
    }
    .footer {
        width: 100%;
    }
    .top {
        box-sizing: border-box;
        width: 100%;
        min-height: 650px;
    }
    .top .logo {
        margin-left: 22%;
    }
    .top .Contact {
        width: 100%;
        margin-left: 0;
        margin-top: 40%;
    }
    .Contact li{
        margin-left: 10px;
    }
    .Contact h1 {
        width: 350px;
        text-align: center;
    }
    .Contact li{
        text-align: center;
    }
    .top .Terms {
        margin-top: 450px;
        margin-left: 74px;
        text-align: center;
    }
    .top .Donate {
        position: absolute;
        margin-top: 600px;
        margin-left: 90px;
    }
    .footer hr {
        margin-top: 15px;
        width: 100%;
    }
    .bot {
        width: 100%;
        display: block;
    }
    .bot .photo {
        width: 60%;
        margin-left: 30%;
    }
    .bot .Follow {
        margin-top: 20px;
        margin-left: 40%;
    }
    .youtube img{
        margin-left: 20%;
    }
}
@keyframes rotateX {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}